.menu{
    display: flex;
    justify-content: center;

}

.filtro{
    margin: 0 12px;
    padding: 8px 64px;
    border: 1px solid #202020;
    border-radius: 18px; 
    background-color: #202020;   
}



.card{
    border: 1px solid #202020;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    display: flex;  
}